<!DOCTYPE HTML>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}Xliff editor{% endblock %}</title>
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> -->
    <script src="/js/jquery-1.5.1.min.js"></script>
    <script src="/js/jquery.inlineEdit.min.js"></script>
    <script src="/js/jquery.autogrow.min.js"></script>
    <script src="/js/jquery.jkey.min.js"></script>
    <script src="/js/jquery.simplemodal.1.4.1.min.js"></script>
    <script src="/js/jquery.translate-1.4.1.min.js"></script>
    <script src="/js/jquery.sort.js"></script>
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>